name: clang-format Check

on:
  push:
    paths-ignore:
      - 'doc/**'
      - 'example/**'
      - '.github/**'
      - '.vscode/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'example/**'
      - '.github/**'
      - '.vscode/**'
      - '*.md'

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'src'
          - 'test'
    steps:
      - uses: actions/checkout@v4

      - name: Install clang-format-14
        run: sudo apt-get install -y clang-format-14

      - name: Run clang-format style check for C/C++/Protobuf programs.
        run: |
          find ${{ matrix.path }} \
            \( -name '*.c' -o -name '*.cpp' -o -name '*.h' -o -name '*.hpp' -o -name '*.proto' \) \
            | xargs clang-format-14 --dry-run --Werror
